@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

  .sub-app-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }